.beat{
	width: 96%;
	margin: auto;
	padding-top: 20px;
}
.details{
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #ffffff;
	padding: 15px 2.5%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
}
.beat-img{
	width: 100%;
}
.beat-img img{
	width: 100%;
	height: 230px;
	border-radius: 5px;
	text-align: right;
}
.info{
	width: 90%;
	margin: auto;
}
.info h2{
	font-size: 18px;
	margin-left: 0;
	margin-top: 20px;
}
.info .producer img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
.info .producer p{
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	color: var(--text-color-dark);
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
}
.info p{
	font-size: 14px;
}
.info .producer:hover{
	cursor: pointer;
}
.actions{
	text-align: center;
	padding-top: 15px;
}
.actions .btn-pr{
	width: 70%;
	padding: 5px;
	text-align: center;
}
.actions .btn-pr:nth-child(2){
	background-color: var(--bg-color-success);
}
.actions button span{
	font-size: 11px;
}
.icons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap; 
	align-items: center;
	justify-content: center;
}
.icons a{
	flex: 25%;
	text-align: center;
}
.icons a:hover span,
.icons a:hover p{
	color: var(--main-hover-color);
	transition: color .3s ease;
}
.icons a span{
	color: #191d52;
	font-size: 24px;
}
.icons a p{
	font-size: 10px;
}
.player{
	width: 100%;
	margin: auto;
	margin-top: 10px;
}
.related{
	margin-top: 30px;
}

/* Media Queries */
@media screen and (max-width: 768px){
	.beat-img{
		text-align: center;
	}
	.actions{
		text-align: left;
		padding-top: 0;
	}
	.actions .btn-pr{
		margin: 10px 4%;
	}
}
@media screen and (max-width: 768px){
	.actions .btn-pr{
		width: 90%;
	}
}
