/* Explore */
.explore{
	width: 100%;
	position: relative;
}
.explore h2{
	margin-left: 20px;
}
.preferences{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	z-index: 99;
	display: none;
}
.genres{
	width: 90%;
	margin: auto;
}
.preferences h2{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.preference-item{
	width: auto;
	height: 40px;
	border-radius: 5px;
	background-color: #ffffff;
	display: inline-block;
	margin: 20px 10px;
	padding: 0 15px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
	animation-name: zoom_in;
	animation-duration: .5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: zoom_in;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
}
.preference-item:nth-child(odd){
	-webkit-animation-duration: .2s;
}
.preference-item:nth-child(odd){
	transition: opacity .5s ease;
}
.preference-item:hover{
	cursor: pointer;
}
.preference-item p{
	display: inline-block;
	margin: 0;
	margin-top: 12px;
	padding: 0;
	color: #ffffff;
}
.preference-item span{
	margin-left: 6px;
	color: #ffffff;
	font-size: 12px;
}
.preferences .btn-pr{
	margin-top: 30px;
}

/* Beats */
.beats{
	display: none;
}
.genre{
	position: relative;
	margin-bottom: 20px;
}
.genre h2{
    position: relative;
}
.genre h2:before{
	width: 20px;
	height: 3px;
	position: absolute;
	top: 100%;
	left: 10px;
	color: #191d52
}
.genre .see-all{
	position: absolute;
	top: 8px;
	right: 30px;
	font-size: 11px;
	color: #2d2d30;
	opacity: .9;
}
.genre .see-all:hover{
	color: var(--main-hover-color);
	transition: color .3s ease;
}


/* Media Queries */
@media screen and (max-width: 768px){
	
}
