<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<title>DropBeats | {{ page }}</title>
		<!-- Icon for site-->
		<link rel="icon" href="{{ url_for('static', filename='assets/images/headphones_icon.png') }}">
		<!--Icon stylesheets-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@300&family=Notable&family=Ultra&family=Abril+Fatface&family=Zilla+Slab+Highlight:wght@700&family=Amatic+SC:wght@700&family=Merriweather:ital,wght@1,900&family=Montserrat&family=Open+Sans&family=Poppins:wght@300&display=swap" rel="stylesheet">
		<!--Style for this site -->
		<link href="{{ url_for('static', filename='assets/css/general.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/css/animations.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
		{% block style %}{% endblock %}
	</head>
	<body>
		<div class="navbar">
			<div class="brand">
				<a href="javascript:void(0)" class="navbar-toggle"><span class="fa fa-bars"></span></a>
				<a href="javascript:void(0)" class="navbar-collapse"><span class="fa fa-chevron-left"></span></a>
				<a href="javascript:void(0)" class="name">DropBeats</a>
			</div>
			<nav>
				<div class="search">
					<form id="search_form">
						<input name="query" placeholder="Search for beats">
						<button type="submit"><span class="fa fa-search"></span></button>
					</form>
				</div>
				<a class="nav-link active" href="{{ url_for('routes.index') }}" id="home-link">
					<span class="fa fa-home"></span>
					<p>Home</p>
				</a>
				<a class="nav-link" href="{{ url_for('routes.discover') }}" id="discover-link">
					<span class="fa fa-music"></span>
					<span class="fa fa-circle" id="discover-reminder"></span>
					<p>Discover</p>
				</a>
				<a class="nav-link" href="{{ url_for('routes.suggestions') }}" id="for-you-link">
					<span class="fa fa-heart"></span>
					<span class="fa fa-circle" id="for-you-reminder"></span>
					<p>Just for you</p>
				</a>
				<a class="nav-link" href="{{ url_for('routes.about') }}" id="about-link">
					<span class="fa fa-info"></span>
					<span class="fa fa-circle" id="about-reminder"></span>
					<p>About</p>
				</a>
				<a class="nav-link" href="{{ url_for('routes.produce') }}" id="produce-link">
					<span class="fa fa-microphone"></span>
					<span class="fa fa-circle" id="produce-reminder"></span>
					<p>Produce</p>
				</a>
				<a class="nav-link" href="{{ url_for('routes.contacts') }}" id="contacts-link">
					<span class="fa fa-address-book"></span>
					<span class="fa fa-circle" id="contacts-reminder"></span>
					<p>Contacts</p>
				</a>
				<a class="nav-link" href="{{ url_for('client.login') }}" id="login-link">
					<span class="fa fa-sign-in"></span>
					<span class="fa fa-circle" id="login-reminder"></span>
					<p>Login</p>
				</a>
				<a class="nav-link" href="{{ url_for('client.register') }}" id="register-link">
					<span class="fa fa-user"></span>
					<span class="fa fa-circle" id="register-reminder"></span>
					<p>Register</p>
				</a>
				<div class="bottom-nav">		
					<a class="nav-link" href="{{ url_for('client.settings') }}" id="settings-link">
						<span class="fa fa-gear"></span>
						<span class="fa fa-circle" id="settings-reminder"></span>
						<p>Settings</p>
					</a>
					<a class="nav-link" href="{{ url_for('client.logout') }}" id="logout-link">
						<span class="fa fa-sign-out"></span>
						<p>Log Out</p>
					</a>
				</div>
			</nav>
		</div>
		<div class="navbar-minimal">
			<div class="brand">
				<a class="navbar-toggle"><span class="fa fa-bars"></span></a>
				<a class="navbar-collapse"><span class="fa fa-chevron-left"></span></a>
				<a href="{{ url_for('routes.index') }}">
					<img class="logo" src="{{ url_for('static', filename='assets/images/headphones_icon.png') }}">
				</a>
			</div>
			<nav>
				<a class="nav-link active" href="{{ url_for('routes.index') }}" id="home-link">
					<span class="fa fa-home"></span>
				</a>
				<a class="nav-link" href="{{ url_for('routes.discover') }}" id="discover-link">
					<span class="fa fa-music"></span>
					<!-- <span class="fa fa-circle" id="discover-reminder"></span> -->
				</a>
				<a class="nav-link" href="{{ url_for('routes.suggestions') }}" id="for-you-link">
					<span class="fa fa-heart"></span>
					<!-- <span class="fa fa-circle" id="for-you-reminder"></span> -->
				</a>
				<a class="nav-link" href="{{ url_for('routes.about') }}" id="about-link">
					<span class="fa fa-info"></span>
					<!-- <span class="fa fa-circle" id="about-reminder"></span> -->
				</a>
				<a class="nav-link" href="{{ url_for('routes.produce') }}" id="produce-link">
					<span class="fa fa-microphone"></span>
					<!-- <span class="fa fa-circle" id="produce-reminder"></span> -->
				</a>
				<a class="nav-link" href="{{ url_for('routes.contacts') }}" id="contacts-link">
					<span class="fa fa-address-book"></span>
					<!-- <span class="fa fa-circle" id="contacts-reminder"></span> -->
				</a>
				<a class="nav-link" href="{{ url_for('client.login') }}" id="login-link">
					<span class="fa fa-sign-in"></span>
					<!-- <span class="fa fa-circle" id="login-reminder"></span> -->
				</a>
				<a class="nav-link" href="{{ url_for('client.register') }}" id="register-link">
					<span class="fa fa-user"></span>
					<!-- <span class="fa fa-circle" id="register-reminder"></span> -->
				</a>
				<div class="bottom-nav">		
					<a class="nav-link" href="{{ url_for('client.settings') }}" id="settings-link">
						<span class="fa fa-gear"></span>
						<!-- <span class="fa fa-circle" id="settings-reminder"></span> -->
					</a>
					<a class="nav-link" href="{{ url_for('client.logout') }}" id="logout-link">
						<span class="fa fa-sign-out"></span>
					</a>
				</div>
			</nav>
		</div>
		<div class="nav-right">
			<ul>
				<li>
					<a class="tooltip-container" href="{{ url_for('routes.premium') }}" id="premium-link">
						<span class="fa fa-diamond"></span>
						<span class="fa fa-circle" id="premium-reminder"></span>
						<div class="tooltip">
						  <span class="tooltiptext" id="tooltiptext-bottom">Try Premium For Free!</span>
						</div> 
					</a>
				</li>
				<li><a href="javascript:void(0)" id="toggle-notifications"><span class="fa fa-bell"></span></a></li>
			</ul>
			<div class="dropdown">
				<a class="dropdown-toggle" id="dropdown-toggle">
					<img src="{{ url_for('static', filename='assets/images/profile.png') }}" id="profile-image">
				</a>
				<div class="dropdown-menu">
					<div class="dropdown-item">
						<p>Profile</p>
						<a href="{{ url_for('client.profile') }}" id="profile-link">
							<span class="fa fa-user"></span>
							<span class="fa fa-circle" id="profile-reminder"></span>
						</a>
					</div>
					<div class="dropdown-item">
						<p>Your Beats</p>
						<a href="{{ url_for('client.yourbeats') }}" id="your-beats-link">
							<span class="fa fa-music"></span>
							<span class="fa fa-circle" id="your-beats-reminder"></span>
						</a>
					</div>	
					<div class="dropdown-item">
						<p>Cart</p>
						<a href="{{ url_for('client.cart') }}" id="cart-link">
							<span class="fa fa-shopping-cart"></span>
							<span class="fa fa-circle" id="cart-reminder"></span>
						</a>
					</div>	
				</div>
			</div>
		</div>
		<div class="container" id="top">	
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="{{ url_for('routes.index') }}" class="crumb" id="home-crumb">
							<span class="fa fa-home"></span>
						</a>
					</li>
					{% if crumbs %}
						{% for crumb in crumbs %}
							{% if 'active' in crumb %}
								<li><a class="active" href="{{ crumb.url }}" class="crumb">{{ crumb.name }}</a></li>
							{% else %}
								<li><a href="{{ crumb.url }}" class="crumb">{{ crumb.name }}</a></li>
							{% endif %}
						{% endfor %}
					{% endif %}
					{% block current_page %}{% endblock %}
				</ul>
			</div>
			{% block content %}{% endblock %}
		</div>
	    <div class="prompt">
	        <span class="fa fa-check" id="prompt-icon"></span>
	        <p class="prompt-message"></p>
	    </div>
	    <div class="loading">
	    	<div class="water"></div>
	    </div>
	    <div class="notifications-dialog">
	    	<div class="notification-item">	
		    	<div class="row">
		    		<a><span class="fa fa-bell"></span></a>
		    		<div class="body">
		    			<h3 class="message">Notification Title</h3>
		    			<p class="message">Notification Message</p>
		    		</div>
		    		<div class="end">
		    			<span class="fa fa-close delete"></span>
		    			<p class="time">9: 00 pm</p>
		    		</div>
		    	</div>
		    	<div class="hor-divider"></div>
	    	</div>
	    	<div class="notification-item">	
		    	<div class="row">
		    		<a><span class="fa fa-bell"></span></a>
		    		<div class="body">
		    			<h3 class="message">Notification Title</h3>
		    			<p class="message">Notification Message</p>
		    		</div>
		    		<div class="end">
		    			<span class="fa fa-close delete"></span>
		    			<p class="time">9: 00 pm</p>
		    		</div>
		    	</div>
		    	<div class="hor-divider"></div>
	    	</div>
	    	<div class="notification-item">	
		    	<div class="row">
		    		<a><span class="fa fa-bell"></span></a>
		    		<div class="body">
		    			<h3 class="message">Notification Title</h3>
		    			<p class="message">Notification Message</p>
		    		</div>
		    		<div class="end">
		    			<span class="fa fa-close delete"></span>
		    			<p class="time">9: 00 pm</p>
		    		</div>
		    	</div>
		    	<div class="hor-divider"></div>
	    	</div>
	    	<div class="notification-item">	
		    	<div class="row">
		    		<a><span class="fa fa-bell"></span></a>
		    		<div class="body">
		    			<h3 class="message">Notification Title</h3>
		    			<p class="message">Notification Message</p>
		    		</div>
		    		<div class="end">
		    			<span class="fa fa-close delete"></span>
		    			<p class="time">9: 00 pm</p>
		    		</div>
		    	</div>
		    	<div class="hor-divider"></div>
	    	</div>
	    	<div class="notification-item">	
		    	<div class="row">
		    		<a><span class="fa fa-bell"></span></a>
		    		<div class="body">
		    			<h3 class="message">Notification Title</h3>
		    			<p class="message">Notification Message</p>
		    		</div>
		    		<div class="end">
		    			<span class="fa fa-close delete"></span>
		    			<p class="time">9: 00 pm</p>
		    		</div>
		    	</div>
		    	<div class="hor-divider"></div>
	    	</div>
	    </div>
		<div class="to-top">
			<a href="#top"><span class="fa fa-arrow-up"></span></a>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/general.js') }}"></script>
		<script type="text/javascript">
			const page = "{{ page }}".toLowerCase().split(" ").join("_");
			$('.nav-link').each(function(){
				$(this).removeClass("active");
			});
            $("#" + page + "-link").each(function(){
            	$(this).addClass("active");
            });
		</script>
		{% if success %}
			<script type="text/javascript">
				showPrompt("{{ session['success'] }}", 1);
			</script>
		{% elif error %}
			<script type="text/javascript">
				showPrompt("{{ session['error'] }}", 0);
			</script>
		{% endif %}
		{% block scripts %}{% endblock %}
	</body>
</html>