{% extends 'base.html' %}

{% block style%}
	<link href="{{ url_for('static', filename='assets/css/discover.css') }}" rel="stylesheet">
{% endblock %}

{% block current_page %}
	<li><a href="{{ url_for('routes.discover') }}" class="crumb active">{{ page }}</a></li>
{% endblock %}
	
{% block content%}
	<div class="discover">
		<div class="preferences">
			<div class="overlay"></div>
			<h2>Before we get going, tell us what you're into</h2>
			<div class="categories">
				
			</div>
			<button type="button" class="btn-pr" id="save-categories">Done</button>
		</div>
		<div class="beats">
			<!-- Categories go here -->
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/discover.js') }}"></script>
{% endblock %}