<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ask For Transport</title>
	<!-- Icon for site-->
	<link rel="icon" href="assets/images/favicon.ico">
	<!--Icon stylesheets-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Handlee|Montserrat|PT+Sans+Narrow|Sigmar+One|Ultra|Days+One|Itim
	|Allan|Arsenal|Black+And+White+Picture|Ceviche+One" rel="stylesheet">
	<title>Ask for Transport</title>
	<!--Style for this site -->
	<link href="{{ url_for('static', filename='assets/css/general.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/animations.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/forms.css') }}" rel="stylesheet">
	{% block style %}{% endblock %}
</head>
<body>
	<div class="container">
		<div class="form">
			<div class="dialog">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="assets/js/config.js"></script>
	<script src="assets/js/general.js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>