<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DropBeats | {{ page }}</title>
		<!-- Icon for site-->
		<link rel="icon" href="{{ url_for('static', filename='assets/images/headphones_icon.png') }}">
		<!--Icon stylesheets-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@300&family=Notable&family=Ultra&family=Abril+Fatface&family=Zilla+Slab+Highlight:wght@700&family=Amatic+SC:wght@700&family=Merriweather:ital,wght@1,900&family=Montserrat&family=Open+Sans&family=Poppins:wght@300&display=swap" rel="stylesheet">
		<!--Style for this site -->
		<link href="{{ url_for('static', filename='assets/css/general.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/css/animations.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='assets/css/forms.css') }}" rel="stylesheet">
		{% block style %}{% endblock %}
	</head>
	<body>
		<div class="form">
			{% block content %}{% endblock %}
		</div>
	    <div class="prompt">
	        <span class="fa fa-check" id="prompt-icon"></span>
	        <p class="prompt-message"></p>
	    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/general.js') }}"></script>
		<script type="text/javascript">
            const csrf_token = "{{ csrf_token() }}";
		</script>
		{% if success %}
			<script type="text/javascript">
				showPrompt("{{ success }}", 0);
			</script>
		{% elif error %}
			<script type="text/javascript">
				showPrompt("{{ error }}", 0);
			</script>
		{% endif %}
		{% block scripts %}{% endblock %}
	</body>
</html>